@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;
}

html, body {
  margin: 0;
  padding: 0;
}

input {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #917a07;
  border: #c79200 2px solid;
  padding: 4px;
}

button {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #917a07;
  border: #c79200 2px solid;
  padding: 4px;
}

select {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #917a07;
  border: #c79200 2px solid;
  padding: 4px;
}

option {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #917a07;
  border: #c79200 2px solid;
  padding: 4px;
}

code{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #917a07;
}

div.main {
  font-size: 16px;
  color: #33a122;
  width: 70%;
  padding: 2% 15%;
}

div.top {
  background-color: #33a122;
  text-align: center;
  font-size: 30px;
  color: #fffff0;
  padding-top: 1px; /* hack to stop margin from leaking outside container (theres probably a better way to do this) */
}

div.title{
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.centered{
  display: flex;
  justify-content: center;
}

canvas{
  cursor: pointer;
}

#canvas{
  /* is a square
   * multiplied by .75 to not touch screen edges */
  width: 75vw;
  height: 75vw;
  max-height: 75vh;
  max-width: 75vh;
}

a{
  color: #a68b07;
}

a:hover{
  color: #fffff0;
  background-color: #a68b07;
}

/*a:visited{
  color: #917a07;
}*/

div.linkbar {
  background-color: #805229;
  font-size: 18px;
  width: 80%;
  color: #33a122;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

div.linkbar a:link{
  color: #fffff0;
}

div.linkbar a:visited{
  color: #fffff0;
}
