{% extends "template.html" %}
{% load static %}
{% block title %}Othello{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/selectize.min.css' %}"/>
<style>
div.selectize-input, div.selectize-dropdown {
  color:#917a07;
  border:#c79200 2px solid;
  font-size: 16px;
}
</style>
<link rel="stylesheet" href="{% static 'css/playerscorebox.css' %}"/>
{% endblock %}
{% block header %}Play Othello{% endblock %}
{% block content %}
      <div id="canvasContainer" style="display:none" class="centered">
        <div>
          <canvas id="canvas" onClick=""></canvas>
          <div id="player-score-box" class="centered">
            <p id="player-black" class="player-score">Player 1</p>
            <p style="visibility: hidden">WWW</p>
            <p id="player-white" class="player-score">Player 2</p>
          </div>
          <code id="err_log"></code>
        </div>
      </div>
      <div class="centered">
        <p id="player-selection-text">
          Loading port list...
        </p>
      </div>
      <script type="text/javascript">
        var me = "{{ current_user.name }}";
      </script>
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js/selectize.min.js' %}"></script>
      <script src="{% static 'js/websocketbridge.js' %}"></script>
      <script src="{% static 'js/get_config.js' %}"></script>
      <script src="{% static 'js/resize.js' %}"></script>
      <script src="{% static 'js/reversi.js' %}" onload="ajaxConfig('{% url 'ai_list' %}', putConfigToPage);"></script>
      <script>
      </script>
{% endblock %}
