@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;
}

input {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color:#917a07;
  border:#c79200 2px solid;
  padding: 4px;
}

button {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color:#917a07;
  border:#c79200 2px solid;
  padding: 4px;
}

select {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color:#917a07;
  border:#c79200 2px solid;
  padding: 4px;
}

option {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color:#917a07;
  border:#c79200 2px solid;
  padding: 4px;
}

div.main {
  font-size: 16px;
  color:#33a122;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
}

div.top {
  background-color: #33a122;
  text-align: center;
  font-size: 30px;
  color: #fffff0;
}

div.title{
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.centered{
  display: flex;
  justify-content: center;
}

canvas{
  cursor: pointer;
}

#canvas{
  /* ratio of 100:89
   * multiplied by .95 to not touch screen edges */
  width: 95vw;
  height: 106.74vw;
  max-height: 95vh;
  max-width: 84.55vh;
}

a{
  font-size: 16px;
}
a:link{
  color: #a68b07;
}

a:visited{
  color: #917a07;
}

div.linkbar {
  background-color: #917a07;
  font-size: 24px;
  width: 80%;
  color: #33a122;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

div.linkbar a:link{
  color: #fffff0;
}

div.linkbar a:visited{
  color: #fffff0;
}

p.output{
  color:#917a07;
}
