{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block header %}About{% endblock %}
{% block content %}
      <p>
        This is a simple web app to run the TJ AI othello tournament.
      </p>
      <p>
        Uploading is locked, and you can no longer play the AIs yourself. Instead, you watch the games live as they happen.
      </p>
      <p>
        If you have any questions about the api or the website in general, please email
        <a href="mailto:2019jduvall@tjhsst.edu">2019jduvall@tjhsst.edu</a>
        or <a href="mailto:PEWhite@fcps.edu">PEWhite@fcps.edu</a>.
      </p>
      <p>
        Website design and additional graphics by <a href="https://williamoconnell.me">William O'Connell</a>.
      </p>
{% endblock %}
