{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block header %}About{% endblock %}
{% block content %}
      <p>
        This is a simple web app to run the TJ AI othello tournament.
      </p>
      <p>
        You can pit AI's against each other, upload your own AI, or even play against
        an existing AI.
      </p>
      <p>
        If you have any questions, please email
        <a href="mailto:2019jduvall@tjhsst.edu">2019jduvall@tjhsst.edu</a>
        or <a href="mailto:PEWhite@fcps.edu">PEWhite@fcps.edu</a>.
      </p>
{% endblock %}