{% extends "template.html" %}
{% block title %}Upload{% endblock %}
{% block header %}About Uploading{% endblock %}
{% block content %}
  <h3>
    File specification
  </h3>
  <!--p>
    <code>Othello_Core.py</code> is the template file that all students will have access to. You can access it from you code using <code>import Othello_Core</code>. It lays out the basic constants and a class that all student submissions must inherit from, and methods that must be overwritten. 
   </p!-->
   <p>
    Students must create a file called <code>strategy.py</code> with a class called <code>Strategy</code> <!--(optionally inheriting from <code>Othello_Core.OthelloCore</code>) and !--> containing a method called <code>best_strategy</code> taking the arguments <code>board, player, best_move, still_running</code> in that order. <code>best_move</code> and <code>still_running</code> are <code>multiprocessing.Value</code> objects, and can be changed using <code>best_move.value=34</code> for example. <code>still_running</code> is another <code>multiprocessing.Value</code> flag turned to 0 by the server when the code is about to be killed.
  </p>
  <p>
    The board will be a length-100 string of chars from {'?', '.', '@', 'o'}, representing an 8x8 board of blanks '.' surrounded by a border '?'. The player strings are '@' for black and 'o' for white. The move is in integer representing the index in the board list of a blank space to be claimed by the current player.
  </p>
  <h3>
    Example code
  </h3>
  <p>
    To get you started, here is the most basic form of AI, random choice:
    <pre><code>
import random
import time

class Strategy():
    # implement all the required methods on your own
    def best_strategy(self, board, player, best_move, running):
        time.sleep(1)
        if running.value:
            best_move.value = random.choice(self.legal_moves(board, player))
    </code></pre>
  </p>
  <h3>
    Multiple files
  </h3>
  <p>
    Any files students wish to upload in addition to <code>strategy.py</code> must have a file extension of <code>.py</code>, <code>.txt</code>, or <code>.pkl</code> and must be less than 20 megabytes in size.
  </p>
  <!-- 
  #### YAY ####
  <p>
    As of now, you can only upload 1 file, <code>strategy.py</code>. You should try putting all your code in that file if possible. Your code is allowed to keep files in between runs. If you do in fact need other files for you code to work, such as lookup tables or huge weight matricies, contact <a href="mailto:2019jduvall@tjhsst.edu">2019jduvall@tjhsst.edu</a> or <a href="mailto:PEWhite@fcps.edu">PEWhite@fcps.edu</a> about your situation.
  </p> -->
  <!-- p>
    #######OH HAI THERE. U R SNEKY HAXXOR########
    #######This is the plan eventually, but not yet########
    All your files are accessible in <code>remote.tjhsst.edu:/web/activities/othello/private/Students/{your_name}</code>. You can add more files there using the <code>scp</code> command, or edit them if you want to make quick changes. All files will be accessible like normal, using <code>import extra_file</code> or <code>f = open('./extra_file.pkl')</code>
  </p !-->
  <h3>
    Other Info
  </h3>
  <p>
    If you code fails to return a move, returns an invalid move, or errors for whatever reason, it will be treated as a forfeit. As such, make sure you code works on your computer before using this website to test against other ais. Just as a reminder, if your code is caught cheating during the tournament in any way, you <b>will</b> be caught and given an integrity violation, so just don't do it.
  </p>
{% endblock %}
