{% extends "template.html" %}
{% block title %}Othello{% endblock %}
{% block header %}Play Othello{% endblock %}
{% block content %}
      <div id="canvasContainer" class="centered">
        <!-- canvas id="canvas" width="400" height="400"></canvas !-->
        <!-- p>
          Enter the address and port of the Reversi game you want to watch:<br>
          <br>
          Address: <input type="text" id="addr" value="localhost"/><br>
          Port: <input type="text" id="port" value="7531" size="5"/><br>
          Update delay (ms): <input type="text" id="delay" value="1000" size="5"/><br><br>
          <button type="button" onclick="makeSocketFromPage(
            document.getElementById('addr').value,
            document.getElementById('port').value,
            document.getElementById('delay').value
          );">Open Socket</button>
        </p !-->
        <p>
          Loading port list...
        </p>
      </div>
      <script src="./static/js/socket.io.js"></script>
      <script src="./static/js/get_config.js"></script>
      <script src="./static/js/resize.js"></script>
      <script src="./static/js/reversi.js" onload="ajaxConfig('./list/ais', putConfigToPage);"></script>
{% endblock %}
