{% extends "template.html" %}
{% block title %}Othello{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="./static/css/selectize.min.css"/>
<style>
div.selectize-input, div.selectize-dropdown {
  color:#917a07;
  border:#c79200 2px solid;
  font-size: 16px;
}
</style>
<link rel="stylesheet" href="./static/css/playerscorebox.css"/>
{% endblock %}
{% block header %}Play Othello{% endblock %}
{% block content %}
      <div id="canvasContainer" class="centered">
        <p>
          Loading port list...
        </p>
      </div>
      <script src="./static/js/jquery-3.3.1.slim.min.js"></script>
      <script src="./static/js/selectize.min.js"></script>
      <script src="./static/js/socket.io.js"></script>
      <script src="./static/js/get_config.js"></script>
      <script src="./static/js/resize.js"></script>
      <script src="./static/js/reversi.js" onload="ajaxConfig('./list/ais', putConfigToPage);"></script>
      <script>
      </script>
{% endblock %}
